<header id="m-header">
    <div class="m-lg_outer m-header">
        <div>
            <a href="#"><img src="{{ asset('assets/images/logo-200x70.png') }}" alt="logo"></a>
        </div>
        <div class="container">
            <nav class="m-main_nav style">
                <ul>
                    <li>
                        <a href="{{ path('home') }}">HOME</a>
                    </li>
                    <li>
                        <a href="{{ path('societe') }}">SOCIETE</a>
                    </li>
                    <li>
                        <a href="{{ path('competences') }}">Nos Compétences</a>
                    </li>
                    <li>
                        <a href="{{ path('service') }}">Nos Services</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li>
                        <a href="{{ path('blog') }}">Blog</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>